footer {
  background: url('../images/bg-footer.png') no-repeat top center;
  background-size: cover;
  width:100%;
  height: 300px;

  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .organizer{
    height: 100px;
    background: red;
  }

  ul:first-child{
    background: yellow;
  }

  ul:nth-child(2){
    background: blue;
  }
}
