// Detalhe Produto

.slider{
  .videoWrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 0;
  	height: 0;

    iframe, video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }


  }

}

.conteudo{
  .logoProd{
    margin-bottom: 65px;
  }

  .gamaProd{
    margin-top: 130px;
    margin-bottom: 100px;
    text-align: center;

    img{
      max-width: 90%;
    }
  }

}
