/*FONTS*/
$font-book: 'gotham_book';
$font-bold: 'gotham_bold';
$font-medium:'gotham_medium';
$font-light: 'gotham_light';
$font-aws: 'FontAwesome';

/* COLORS */
$blue: #242f75;
$green: #009e94;
$grey: #787878;
$dark_gray:#4a4a49;


/*****************************************************
                  Detalhe Produto
*****************************************************/
.slider{
  .videoWrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 0;
  	height: 0;

    iframe, video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }//videoWrapper
}//slider

.conteudoProd{
  margin-bottom: 40px;
  .logoProd{
    margin-bottom: 65px;
  }

  .gamaProd{
    margin-top: 130px;
    margin-bottom: 100px;
    text-align: center;

    img{
      max-width: 90%;
    }
  }//gamaProd

  /****** Decubal ******/
  .linksprod{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    color:$grey;
    font-family: $font-medium;

    p{
      font-family: $font-bold;
      margin-bottom: 30px;
    }

    div{
      text-align: center;

      a{
        color: $grey;
        text-decoration: none;
        &:first-child{
          margin-right:4.5%;
        }
      }

      i{
        float: none;
        font-size: 35px;
        color:$green;
        padding-right:20px;
      }
    }
  }//linksprod

  /****** Beacita ******/
  .rcmprod{
    text-align: center;
    font-family: $font-medium;
    a{
      color: $grey;
      text-decoration: none;
      &:first-child{
        margin-right:4.5%;
      }
    }

    i{
      float: none;
      font-size: 35px;
      color:$green;
      padding-right:20px;
    }

  }//rcmprod

  /****** Ferlidona ******/
  .gamaFerlidona{
    .prodFer{
      margin-bottom: 110px;
    }
    .textos{
      h2{
        font-size: 34px;
        text-transform: uppercase;
        text-align:left;
        font-family: $font-bold;
        letter-spacing: 1.5px;
      }

      h3{
        font-size: 20px;
        font-family: $font-book;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $grey;
        text-align: left;
        margin-bottom: 35px;
      }

      p{
        text-align: left;
        font-size: 16px;
        font-family: $font-book;
        letter-spacing: 1.5px;
        line-height: 30px;
      }
    }

    .line{
      position: relative;
      padding-top: 0;
      img{
        width: 100%;
        vertical-align: middle;
        // Fix p/ blur da linha
        // padding-top: 1px;
      }
    }

    .docIcon{
      align-items: center;
      justify-content: center;
      i{
        float: none;
        vertical-align: middle;
        font-size: 55px;
        color:$green;

      }

    }
  }//gamaFerlidona

}//conteudoProd


/*****************************************************
                  QuemSomos
*****************************************************/

.conteudoQuemSomos{
    .txt-intro{
      margin-bottom: 150px;
      h2{
        text-transform: uppercase;
        margin-top: 100px;
        font-size: 30px;
        margin-bottom: 30px;
      }
    }//txt-intro

    .valores{
      margin-top: 150px;
      .prodFer{
        margin-bottom: 110px;
      }
      .textos{
        align-items: center;
        display: flex;
        position: relative;
        h2{
          text-transform: uppercase;
          margin-top: 0;
          font-size: 30px;
          position: absolute;
          top:30px;
        }

        h3{
          font-size: 34px;
          text-transform: uppercase;
          text-align:left;
          font-family: $font-bold;
          letter-spacing: 1.5px;
          margin-bottom: 20px;
          color:$dark_gray;
          margin-top:0;
        }

        p{
          text-align: left;
          font-size: 16px;
          font-family: $font-book;
          letter-spacing: 2px;
          line-height: 30px;
          text-transform: uppercase;
        }
      }

      .imagens{
        img{
          width: 100%;
        }
      }

      .line{
        position: relative;
        padding-top: 0;
        // margin-left: -31px;
        img{
          width: 100%;
          vertical-align: middle;
        }
      }

      .docIcon{
        align-items: center;
        justify-content: center;
        i{
          float: none;
          vertical-align: middle;
          font-size: 55px;
          color:$green;

        }

      }

      .marginValores{
        margin-bottom:150px;
      }
    }//gamaFerlidona
}//conteudoQuemSomos



/*****************************************************
                  list news
*****************************************************/
.conteudo-news{
  .noticias{
    .row{
      margin-bottom: 85px;
    }
  }
  .line{
    position: relative;
    padding-top: 0;
    // margin-left: -31px;
  }

  .textos{
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
      margin-bottom: 35px;
      text-transform: uppercase;
    }
    h3{
      margin-bottom: 35px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    p{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
    }
  }
  .imagens{
    padding-top: 0;
    z-index: 2;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    &:before{
      display: block;
      content: "";
      width: 100%;
      padding-top: 75%;
      background: chartreuse;
    }
    div{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img{
        height: 100%;
        max-width: none;
        left: 25%;
        margin-left: -25%;
      }
    }
  }
  .seta{
    margin-top: 0;
    align-items: center;
    justify-content: center;
    i{
      float: none;
      vertical-align: middle;
      font-size: 55px;
      color:$green;

    }

  }

}
.btnMais{
  .icon-stack{
    border: 1px solid $green;
    border-radius: 100px;
    width: 68px;
    height: 68px;
    &:hover{
      background-color: $green;
    }
    i{
      color: #009e94;
      bottom: 6px;
      left: 14px !important;
      position: absolute;
      font-size: 3em;
      &:hover{
        color: #ffffff;
      }
    }
  }

  .centerBtn{
    text-align: center;
  }

}




/******************************************************
*******************************************************
***********         MEDIA QUERIES               *******
*******************************************************
******************************************************/
@media (max-width: 1500px){
  .row.conteudoProd{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

  .conteudoQuemSomos .valores .textos{
    h2{
      top:0;
    }
  }


}//media 1500

@media (max-width: 1240px){
  .conteudoQuemSomos .valores .textos{
    h2{
      top:0;
    }
  }
}//media 1240

@media (max-width: 1025px){
  .conteudoQuemSomos .valores .textos{
    h2{
      top:-25px;
    }
  }
}//media 1025

@media (max-width: 869px){
  .conteudoQuemSomos .valores .textos{
    h2{
      top:-65px;
    }
  }
}//media 869


@media (max-width: 1200px){
  .row.conteudoProd{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  .row.conteudoQuemSomos{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }


}//media 1200

@media (max-width: 991px){
  .gamaFerlidona{
    .row{
      .line:nth-child(2){
        display: none;
      }

      .imagens{
        margin-bottom: 30px;
      }
      .textos{
          //margin-bottom: 30px;
      }
    }
  }

  .valores{
    .row{
      .line:nth-child(2){
        display: none;
      }

      .imagens{
        margin-bottom: 30px;
      }
      .textos{
          //margin-bottom: 30px;
      }
    }
  }//valores

  .conteudo-news .noticias{

      .line:nth-child(2){
        display: none;
      }

      .imagens{
        margin-bottom: 30px;
      }
      .textos{
          //margin-bottom: 30px;
      }

  }//noticias

}//media 960

@media (max-width: 767px){
  .gamaFerlidona{
    .prodFer{
      margin-bottom: 150px !important;
    }
    .row{
      margin: 0;
      padding: 0;
      .line{
        display: none;
      }
    }

  }//gamaFerlidona

  .valores{
    .prodFer{
      margin-bottom: 150px !important;
    }
    .row{
      margin: 0;
      padding: 0;
      .line{
        display: none;
      }
    }
     .textos{
      justify-content: center;
      h2{
        top:0px !important;
        text-align: center;
      }
      h3, p{
        text-align: center !important;
      }
      div{
        margin-top: 50px;
      }
    }
  }//valores

  .conteudo-news .noticias{

      .line{
        display: none;
      }

     .textos{
      justify-content: center;
      h2{
        top:0px !important;
        text-align: center;
      }
      h3, p{
        text-align: center !important;
      }
      div{
        margin-top: 20px;
      }
    }
  }//valores

  .linksprod{
    a{
      display: block;
      margin-bottom: 15px;
    }
  }



}//media 767

@media (max-width: 400px){

  .conteudoProd .linksprod{
    font-size: 15px;
    p{
      margin-bottom: 15px;
    }
  }

}//media 400

@media (max-width: 455px){

  .valores .textos{
   div{
     margin-top: 80px;
   }
  }

}//media 455
