/*FONTS*/
/* COLORS */
/*****************************************************
                  Detalhe Produto
*****************************************************/
.slider .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0; }
  .slider .videoWrapper iframe, .slider .videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.conteudoProd {
  margin-bottom: 40px;
  /****** Decubal ******/
  /****** Beacita ******/
  /****** Ferlidona ******/ }
  .conteudoProd .logoProd {
    margin-bottom: 65px; }
  .conteudoProd .gamaProd {
    margin-top: 130px;
    margin-bottom: 100px;
    text-align: center; }
    .conteudoProd .gamaProd img {
      max-width: 50%; }
  .conteudoProd .linksprod {
    font-size: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #787878;
    font-family: "gotham_medium"; }
    .conteudoProd .linksprod p {
      font-family: "gotham_bold";
      margin-bottom: 30px; }
    .conteudoProd .linksprod div {
      text-align: center; }
      .conteudoProd .linksprod div a {
        color: #787878;
        text-decoration: none; }
        .conteudoProd .linksprod div a:first-child {
          margin-right: 4.5%; }
      .conteudoProd .linksprod div i {
        float: none;
        font-size: 25px;
        color: #009e94;
        padding-right: 20px; }
  .conteudoProd .rcmprod {
    text-align: center;
    font-family: "gotham_medium"; }
    .conteudoProd .rcmprod a {
      color: #787878;
      text-decoration: none; }
      .conteudoProd .rcmprod a:first-child {
        margin-right: 4.5%; }
    .conteudoProd .rcmprod i {
      float: none;
      font-size: 25px;
      color: #009e94;
      padding-right: 20px; }
  .conteudoProd .gamaFerlidona .prodFer {
    margin-bottom: 110px; }
  .conteudoProd .gamaFerlidona .textos h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: left;
    font-family: "gotham_bold";
    letter-spacing: 1.5px; }
  .conteudoProd .gamaFerlidona .textos h3 {
    font-size: 16px;
    font-family: "gotham_book";
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #787878;
    text-align: left;
    margin-bottom: 35px; }
  .conteudoProd .gamaFerlidona .textos p {
    text-align: left;
    font-size: 13px;
    font-family: "gotham_book";
    letter-spacing: 1.5px;
    line-height: 30px; }
  .conteudoProd .gamaFerlidona .line {
    position: relative;
    padding-top: 0; }
    .conteudoProd .gamaFerlidona .line img {
      width: 100%;
      vertical-align: middle; }
  .conteudoProd .gamaFerlidona .docIcon {
    align-items: center;
    justify-content: center; }
    .conteudoProd .gamaFerlidona .docIcon i {
      float: none;
      vertical-align: middle;
      font-size: 35px;
      color: #009e94; }

.conteudo .decubal .texto {
  align-items: center;
  display: flex;
  position: relative; }

/*****************************************************
                  QuemSomos
*****************************************************/
.conteudoQuemSomos .txt-intro {
  margin-bottom: 150px; }
  .conteudoQuemSomos .txt-intro h2 {
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 30px; }
.conteudoQuemSomos .valores {
  margin-top: 150px; }
  .conteudoQuemSomos .valores .prodFer {
    margin-bottom: 110px; }
  .conteudoQuemSomos .valores .textos {
    align-items: center;
    display: flex;
    position: relative; }
    .conteudoQuemSomos .valores .textos h2 {
      text-transform: uppercase;
      margin-top: 0;
      font-size: 25px;
      position: absolute;
      top: 30px; }
    .conteudoQuemSomos .valores .textos h3 {
      font-size: 25px;
      text-transform: uppercase;
      text-align: left;
      font-family: "gotham_bold";
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      color: #4a4a49;
      margin-top: 0; }
    .conteudoQuemSomos .valores .textos p {
      text-align: left;
      font-size: 16px;
      font-family: "gotham_book";
      letter-spacing: 2px;
      line-height: 30px;
      text-transform: uppercase; }
  .conteudoQuemSomos .valores .imagens img {
    width: 100%; }
  .conteudoQuemSomos .valores .line {
    position: relative;
    padding-top: 0; }
    .conteudoQuemSomos .valores .line img {
      width: 100%;
      vertical-align: middle; }
  .conteudoQuemSomos .valores .docIcon {
    align-items: center;
    justify-content: center; }
    .conteudoQuemSomos .valores .docIcon i {
      float: none;
      vertical-align: middle;
      font-size: 50px;
      color: #009e94; }
  .conteudoQuemSomos .valores .marginValores {
    margin-bottom: 150px; }

/*****************************************************
                  list news
*****************************************************/
.conteudo-news .noticias .row {
  margin-bottom: 85px; }
.conteudo-news .line {
  position: relative;
  padding-top: 0; }
.conteudo-news .textos {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .conteudo-news .textos h2 {
    margin-bottom: 35px;
    text-transform: uppercase; }
  .conteudo-news .textos h3 {
    margin-bottom: 35px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .conteudo-news .textos p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical; }
.conteudo-news .imagens {
  padding-top: 0;
  z-index: 2;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%; }
  .conteudo-news .imagens:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%;
    background: chartreuse; }
  .conteudo-news .imagens div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .conteudo-news .imagens div img {
      height: 100%;
      max-width: none;
      left: 25%;
      margin-left: -25%; }
.conteudo-news .seta {
  margin-top: 0;
  align-items: center;
  justify-content: center; }
  .conteudo-news .seta i {
    float: none;
    vertical-align: middle;
    font-size: 55px;
    color: #009e94; }

.btnMais .icon-stack {
  border: 1px solid #009e94;
  border-radius: 100px;
  width: 68px;
  height: 68px; }
  .btnMais .icon-stack:hover {
    background-color: #009e94; }
  .btnMais .icon-stack i {
    color: #009e94;
    bottom: 15px;
    left: 21px !important;
    position: absolute;
    font-size: 2em; }
    .btnMais .icon-stack i:hover {
      color: #ffffff; }
.btnMais .centerBtn {
  text-align: center; }

/******************************************************
*******************************************************
***********         MEDIA QUERIES               *******
*******************************************************
******************************************************/
@media (max-width: 1590px) {
  .conteudoQuemSomos .valores .textos h2 {
    top: 0; } }
@media (max-width: 1500px) {
  .row.conteudoProd {
    margin-right: 0;
    margin-left: 0;
    padding: 0; }

  .conteudoQuemSomos .valores .textos h2 {
    top: 0; } }
@media (max-width: 1400px) {
  .conteudoQuemSomos .valores .textos h2 {
    top: 0; } }
@media (max-width: 1370px) {
  .conteudoQuemSomos .valores .textos h2 {
    top: -30px; } }
@media (max-width: 1291px) {
  .conteudoQuemSomos .valores .textos h2 {
    top: -65px; } }
@media (max-width: 1025px) {
  .conteudoQuemSomos .valores .textos h2 {
    /*top:-25px;*/ } }
@media (max-width: 869px) {
  .conteudoQuemSomos .valores .textos h2 {
    top: -65px; } }
@media (max-width: 1200px) {
  .row.conteudoProd {
    margin-right: 0;
    margin-left: 0;
    padding: 0; }

  .row.conteudoQuemSomos {
    margin-right: 0;
    margin-left: 0;
    padding: 0; } }
@media (max-width: 991px) {
  .gamaFerlidona .row .line:nth-child(2) {
    display: none; }
  .gamaFerlidona .row .imagens {
    margin-bottom: 30px; }

  .valores .row .line:nth-child(2) {
    display: none; }
  .valores .row .imagens {
    margin-bottom: 30px; }

  .conteudo-news .noticias .line:nth-child(2) {
    display: none; }
  .conteudo-news .noticias .imagens {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .gamaFerlidona .prodFer {
    margin-bottom: 150px !important; }
  .gamaFerlidona .row {
    margin: 0;
    padding: 0; }
    .gamaFerlidona .row .line {
      display: none; }

  .valores .prodFer {
    margin-bottom: 150px !important; }
  .valores .row {
    margin: 0;
    padding: 0; }
    .valores .row .line {
      display: none; }
  .valores .textos {
    justify-content: center; }
    .valores .textos h2 {
      top: 0px !important;
      text-align: center; }
    .valores .textos h3, .valores .textos p {
      text-align: center !important; }
    .valores .textos div {
      margin-top: 50px; }

  .conteudo-news .noticias .line {
    display: none; }
  .conteudo-news .noticias .textos {
    justify-content: center; }
    .conteudo-news .noticias .textos h2 {
      top: 0px !important;
      text-align: center; }
    .conteudo-news .noticias .textos h3, .conteudo-news .noticias .textos p {
      text-align: center !important; }
    .conteudo-news .noticias .textos div {
      margin-top: 20px; }

  .linksprod a {
    display: block;
    margin-bottom: 15px; } }
@media (max-width: 400px) {
  .conteudoProd .linksprod {
    font-size: 15px; }
    .conteudoProd .linksprod p {
      margin-bottom: 15px; } }
@media (max-width: 455px) {
  .valores .textos div {
    margin-top: 80px; } }

/*# sourceMappingURL=mc-custom.css.map */
