/*FONTS*/
/* COLORS */
/*****************************************************
                  Detalhe Produto
*****************************************************/
.slider .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0; }
  .slider .videoWrapper iframe, .slider .videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.conteudoProd {
  margin-bottom: 40px;
  /****** Decubal ******/
  /****** Beacita ******/
  /****** Ferlidona ******/ }
  .conteudoProd .logoProd {
    margin-bottom: 65px; }
  .conteudoProd .gamaProd {
    margin-top: 130px;
    margin-bottom: 100px;
    text-align: center; }
    .conteudoProd .gamaProd img {
      max-width: 90%; }
  .conteudoProd .linksprod {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #787878;
    font-family: "gotham_medium"; }
    .conteudoProd .linksprod p {
      font-family: "gotham_bold";
      margin-bottom: 30px; }
    .conteudoProd .linksprod div {
      text-align: center; }
      .conteudoProd .linksprod div a {
        color: #787878;
        text-decoration: none; }
        .conteudoProd .linksprod div a:first-child {
          margin-right: 4.5%; }
      .conteudoProd .linksprod div i {
        float: none;
        font-size: 35px;
        color: #009e94;
        padding-right: 20px; }
  .conteudoProd .rcmprod {
    text-align: center;
    font-family: "gotham_medium"; }
    .conteudoProd .rcmprod a {
      color: #787878;
      text-decoration: none; }
      .conteudoProd .rcmprod a:first-child {
        margin-right: 4.5%; }
    .conteudoProd .rcmprod i {
      float: none;
      font-size: 35px;
      color: #009e94;
      padding-right: 20px; }
  .conteudoProd .gamaFerlidona .prodFer {
    margin-bottom: 110px; }
  .conteudoProd .gamaFerlidona .textos h2 {
    font-size: 34px;
    text-transform: uppercase;
    text-align: left;
    font-family: "gotham_bold";
    letter-spacing: 1.5px; }
  .conteudoProd .gamaFerlidona .textos h3 {
    font-size: 20px;
    font-family: "gotham_book";
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #787878;
    text-align: left;
    margin-bottom: 35px; }
  .conteudoProd .gamaFerlidona .textos p {
    text-align: left;
    font-size: 16px;
    font-family: "gotham_book";
    letter-spacing: 1.5px;
    line-height: 30px; }
  .conteudoProd .gamaFerlidona .line {
    position: relative;
    padding-top: 0; }
    .conteudoProd .gamaFerlidona .line img {
      width: 100%;
      vertical-align: middle; }
  .conteudoProd .gamaFerlidona .docIcon {
    align-items: center;
    justify-content: center; }
    .conteudoProd .gamaFerlidona .docIcon i {
      float: none;
      vertical-align: middle;
      font-size: 55px;
      color: #009e94; }

/*****************************************************
                  QuemSomos
*****************************************************/
.conteudoQuemSomos .txt-intro {
  margin-bottom: 150px; }
  .conteudoQuemSomos .txt-intro h2 {
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 30px; }
.conteudoQuemSomos .valores {
  margin-top: 150px; }
  .conteudoQuemSomos .valores .prodFer {
    margin-bottom: 110px; }
  .conteudoQuemSomos .valores .textos {
    align-items: center;
    display: flex;
    position: relative; }
    .conteudoQuemSomos .valores .textos h2 {
      text-transform: uppercase;
      margin-top: 0;
      font-size: 30px;
      position: absolute;
      top: 30px; }
    .conteudoQuemSomos .valores .textos h3 {
      font-size: 34px;
      text-transform: uppercase;
      text-align: left;
      font-family: "gotham_bold";
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      color: #4a4a49;
      margin-top: 0; }
    .conteudoQuemSomos .valores .textos p {
      text-align: left;
      font-size: 16px;
      font-family: "gotham_book";
      letter-spacing: 2px;
      line-height: 30px;
      text-transform: uppercase; }
  .conteudoQuemSomos .valores .imagens img {
    width: 100%; }
  .conteudoQuemSomos .valores .line {
    position: relative;
    padding-top: 0;
    margin-left: -31px; }
    .conteudoQuemSomos .valores .line img {
      width: 100%;
      vertical-align: middle; }
  .conteudoQuemSomos .valores .docIcon {
    align-items: center;
    justify-content: center; }
    .conteudoQuemSomos .valores .docIcon i {
      float: none;
      vertical-align: middle;
      font-size: 55px;
      color: #009e94; }
  .conteudoQuemSomos .valores .marginValores {
    margin-bottom: 150px; }

/******************************************************
*******************************************************
***********         MEDIA QUERIES               *******
*******************************************************
******************************************************/
@media (max-width: 1500px) {
  .row.conteudoProd {
    margin-right: 0;
    margin-left: 0;
    padding: 0; }

  .conteudoQuemSomos .valores .textos h2 {
    top: 0; } }
@media (max-width: 1240px) {
  .conteudoQuemSomos .valores .textos h2 {
    top: 0; } }
@media (max-width: 1025px) {
  .conteudoQuemSomos .valores .textos h2 {
    top: -25px; } }
@media (max-width: 869px) {
  .conteudoQuemSomos .valores .textos h2 {
    top: -65px; } }
@media (max-width: 1200px) {
  .row.conteudoProd {
    margin-right: 0;
    margin-left: 0;
    padding: 0; }

  .row.conteudoQuemSomos {
    margin-right: 0;
    margin-left: 0;
    padding: 0; } }
@media (max-width: 991px) {
  .gamaFerlidona .row .line:nth-child(2) {
    display: none; }
  .gamaFerlidona .row .imagens {
    margin-bottom: 30px; }

  .valores .row .line:nth-child(2) {
    display: none; }
  .valores .row .imagens {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .gamaFerlidona .prodFer {
    margin-bottom: 150px !important; }
  .gamaFerlidona .row {
    margin: 0;
    padding: 0; }
    .gamaFerlidona .row .line {
      display: none; }

  .valores .prodFer {
    margin-bottom: 150px !important; }
  .valores .row {
    margin: 0;
    padding: 0; }
    .valores .row .line {
      display: none; }
  .valores .textos {
    justify-content: center; }
    .valores .textos h2 {
      top: 0px !important;
      text-align: center; }
    .valores .textos h3, .valores .textos p {
      text-align: center !important; }
    .valores .textos div {
      margin-top: 50px; }

  .linksprod a {
    display: block;
    margin-bottom: 15px; } }
@media (max-width: 400px) {
  .conteudoProd .linksprod {
    font-size: 15px; }
    .conteudoProd .linksprod p {
      margin-bottom: 15px; } }
@media (max-width: 455px) {
  .valores .textos div {
    margin-top: 80px; } }

/*# sourceMappingURL=mc-custom.css.map */
