/*FONTS*/
$font-book: 'gotham_book';
$font-bold: 'gotham_bold';
$font-medium:'gotham_medium';
$font-light: 'gotham_light';
$font-aws: 'FontAwesome';

/* COLORS */
$blue: #242f75;
$green: #009e94;
$grey: #787878;


/*****************************************************
                  Detalhe Produto
*****************************************************/
.slider{
  .videoWrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 0;
  	height: 0;

    iframe, video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }//videoWrapper
}//slider

.conteudoProd{
  margin-bottom: 40px;
  .logoProd{
    margin-bottom: 65px;
  }

  .gamaProd{
    margin-top: 130px;
    margin-bottom: 100px;
    text-align: center;

    img{
      max-width: 90%;
    }
  }//gamaProd

  /****** Decubal ******/
  .linksprod{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    color:$grey;
    font-family: $font-medium;

    p{
      font-family: $font-bold;
      margin-bottom: 30px;
    }

    div{
      text-align: center;

      a{
        color: $grey;
        text-decoration: none;
        &:first-child{
          margin-right:4.5%;
        }
      }

      i{
        float: none;
        font-size: 35px;
        color:$green;
        padding-right:20px;
      }
    }
  }//linksprod

  /****** Beacita ******/
  .rcmprod{
    text-align: center;
    font-family: $font-medium;
    a{
      color: $grey;
      text-decoration: none;
      &:first-child{
        margin-right:4.5%;
      }
    }

    i{
      float: none;
      font-size: 35px;
      color:$green;
      padding-right:20px;
    }

  }//rcmprod

  /****** Ferlidona ******/
  .gamaFerlidona{
    .prodFer{
      margin-bottom: 110px;
    }
    .textos{
      h2{
        font-size: 34px;
        text-transform: uppercase;
        text-align:left;
        font-family: $font-bold;
        letter-spacing: 1.5px;
      }

      h3{
        font-size: 20px;
        font-family: $font-book;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $grey;
        text-align: left;
        margin-bottom: 35px;
      }

      p{
        text-align: left;
        font-size: 16px;
        font-family: $font-book;
        letter-spacing: 1.5px;
        line-height: 30px;
      }
    }

    .line{
      position: relative;
      padding-top: 0;
      img{
        width: 100%;
        vertical-align: middle;
        // Fix p/ blur da linha
        // padding-top: 1px;
      }
    }

    .docIcon{
      align-items: center;
      justify-content: center;
      i{
        float: none;
        vertical-align: middle;
        font-size: 55px;
        color:$green;

      }

    }
  }//gamaFerlidona

}//conteudoProd






@media (max-width: 1200px){
  .row.conteudoProd{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

}//media 1200

@media (max-width: 991px){
  .gamaFerlidona{
    .row{
      .line:nth-child(2){
        display: none;
      }

      .imagens{
        margin-bottom: 30px;
      }
      .textos{
          //margin-bottom: 30px;
      }
    }
  }

}//media 960

@media (max-width: 767px){
  .gamaFerlidona{
    .prodFer{
      margin-bottom: 150px !important;
    }
    .row{
      margin: 0;
      padding: 0;
      .line{
        display: none;
      }
    }

  }//gamaFerlidona

  .linksprod{
    a{
      display: block;
      margin-bottom: 15px;
    }
  }

}//media 767

@media (max-width: 400px){

  .conteudoProd .linksprod{
    font-size: 15px;
    p{
      margin-bottom: 15px;
    }
  }

}//media 400
