/* COLORS */
$blue: #242f75;
$green: #009e94;
$grey: #787878;


@media (max-width: 1337px){
	.conteudo{
		.line{
			width: 10%;
			padding-top: 170px;
			img{
				width: 100%;
			}
		}
		.seta{
		    margin-top: 150px;
		}

	}


	footer{
		h2{
			margin-left: 43px;
		}
	}
}
@media (max-width: 1295px){
	.subtitle{
		p {
		font-size: 4.4vw;
	    padding-top: 25px;
		}
	}
}

@media (max-width: 1150px){
	.subtitle{
		height: 250px;
		p{
			padding-top: 0;
		}
	}
	form{
    width: 200px;
	}

	.conteudo{
		.line{
			padding-top: 150px;
		}
		.seta{
			margin-top: 128px;
		}
	}
}

@media (max-width: 1200px){
		.navbar-toggleable-md .navbar-toggler {
    	display: block;
	    margin: 20px;
	}
	.navbar-toggleable-md .navbar-nav {
			display: none;
	        /*display: flex;*/
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    padding-left: 0;
		    margin-bottom: 0;
		    list-style: none;
	}
	.navbar-light .navbar-toggler{
		border-color: rgba(0,0,0,0);
	}

	form, .form-inline{
		width: 100%;
		display: none;
	}

	.navbar {
		span, .navbar-toggler-icon{
		    background-size: 0% 0%;
			i{
				color: $blue;
			}
		}
	}

	.slider{
		z-index: 0;
	}

	.bg-faded{
		z-index: 10;
	}

		/* MENU RESPONSIVE */

	/* Overlay style */
	.overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(36, 47, 117, 0.9);
	}

	/* Overlay closing cross */
	.overlay .overlay-close {
		width: 80px;
		height: 80px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		background: url(../images/cross.png) no-repeat center center;
		text-indent: 200%;
		color: transparent;
		outline: none;
		z-index: 100;
	}

	/* Menu style */
	.overlay nav {
		text-align: center;
		position: relative;
		top: 50%;
		height: 60%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.overlay ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		height: 100%;
		position: relative;
	}

	.overlay ul li {
		display: block;
		height: 20%;
		height: calc(60% / 5);
		min-height: 54px;
	}

	.overlay ul li a {
		font-size: 40px;
		font-weight: 300;
		display: block;
		color: #fff;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.overlay ul li a:hover,
	.overlay ul li a:focus {
		color: #f0f0f0;
	}

	/* Effects */
	body {
		background: #ddd;
	}

	.container {
		background: #fff;
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}

	.container.overlay-open {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	.overlay-contentscale {
		visibility: hidden;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
		transition: transform 0.5s, visibility 0s 0.5s;
		z-index: 500;
	}

	.overlay-contentscale.open {
		visibility: visible;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}

	.content-scale{
		display: block;
	}

	@media screen and (max-height: 30.5em) {
		.overlay nav {
			height: 70%;
			font-size: 34px;
		}
		.overlay ul li {
			min-height: 34px;
		}
	}
}

@media (max-width: 1135px){


	footer{
		h2{
			font-size: 14px;
			margin-left: 34px;
		}
		.organizer{
			font-size: 13px;
		}
	}




	/* FIM MENU RESPONSIVE */
}

@media (max-width: 1040px){
	footer{
		.vermapa{
			padding-left: 0;
		}
	}
}

@media (max-width: 970px){
	footer{
		height: 400px;
		.geral{
			font-size: 12px;
		}
	}
}

@media  (max-width: 885px){
	footer{
		height: 500px;
		h2{
			margin-left: 27px;
		}
		.rodape{
			padding-top: 30px;

			.copyDir{
				right: 20px;
			}
		}
		.organizer{
			.icon{
				margin-right: 8px;
			}
		}

	}
	footer li div:nth-child(2){
		width: 80%;
	}
}
@media (width:768px){
	footer{
		height: 500px !important;
	}
}

@media (max-width:768px){
	footer{
		background-position-x:-865px;
		height: 700px;
		.organizer{
			.icon{
				margin-right: 0px;
			}
		}

		h2{
			margin-left: 57px;
		}
	}

	
	footer li div:nth-child(2){
		width: 90%;
	}
}

@media(max-width:576px){

}