/*FONTS*/
/* COLORS */
body {
  font-family: "gotham_light";
  color: #242f75;
  letter-spacing: 1.5px; }

.container {
  width: 100%;
  padding: 0; }

/*MENU*/
.menu {
  z-index: 8;
  height: 110px; }

.bg-faded {
  background-color: transparent; }

.navbar-brand img {
  margin-left: 20px;
  width: 150px; }

.navbar .navbar-nav {
  width: 100%;
  text-align: center; }

.navbar-light .navbar-nav li {
  float: none;
  width: 150px;
  display: inline-block; }
  .navbar-light .navbar-nav li .nav-link {
    display: block;
    color: #242f75;
    text-align: center;
    width: 150px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "gotham_medium";
    font-size: 14px; }
    .navbar-light .navbar-nav li .nav-link:hover {
      text-decoration: none;
      border-bottom: 2px solid #009e94; }
    .navbar-light .navbar-nav li .nav-link:active {
      border-bottom: 2px solid #009e94; }

/*.mr-auto {
    margin-right: 80px!important;
}*/
.form-control {
  background-color: transparent; }
  .form-control:focus {
    background-color: transparent; }

form {
  width: 220px;
  /* margin-right: 100px;*/ }
  form .form-control {
    width: 80%; }
  form input[type=text] {
    width: 80% !important;
    font-family: "gotham_medium";
    font-size: 14px;
    color: #242f75;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #009e94; }
    form input[type=text]:focus {
      outline: none;
      border-bottom: 2px solid #009e94; }
  form ::-webkit-input-placeholder {
    color: #242f75; }
  form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #242f75; }
  form :-ms-input-placeholder {
    /* IE 10+ */
    color: #242f75; }
  form :-moz-placeholder {
    /* Firefox 18- */
    color: #242f75; }

.navbar-toggler {
  margin: 50px; }

.content-scale {
  display: none; }

/* FIM MENU*/
.slider {
  position: relative;
  z-index: -1;
  top: -110px; }
  .slider img {
    width: 100vw; }

.subtitle {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 8;
  /*top: 600px;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */ }

.subtitle p {
  font-size: 60px;
  font-family: "gotham_bold";
  color: #242f75;
  margin-top: 30px; }

.subtitle a {
  font-family: "gotham_medium";
  text-decoration: none;
  color: #242f75;
  font-size: 20px;
  border-bottom: 2px solid #009e94; }

.conteudo {
  padding-bottom: 100px;
  /*   ANIMACAO LINHAS   */
  /*	.path {
  		stroke-dasharray: 100;
  		animation: dash 5s linear;
  	}
  
  	@keyframes dash {
  		to {
  	    	stroke-dashoffset: 1000;
  	  	}
  	}*/
  /*   ICON FONTAWESOME SETA    */
  /*    FIM ICON FONTAWESOME SETA    */ }
  .conteudo .separador {
    font-size: 16px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    /*//MARIA: Comentei porque atrofia com classes bootstrap*/
    /* margin-left: 1rem;*/ }
    .conteudo .separador p {
      color: #242f75; }
  .conteudo .destaque img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .conteudo .destaque img:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  .conteudo .texto {
    padding-left: 40px;
    padding-top: 80px; }
    .conteudo .texto .title-destaque {
      font-family: "gotham_bold";
      font-size: 2vw;
      padding: 0;
      color: #242f75; }
    .conteudo .texto .txt-destaque {
      font-size: 2vw;
      color: #242f75; }
  .conteudo .line {
    padding-top: 190px; }
  .conteudo .seta {
    width: 67px;
    height: 67px;
    margin-top: 168px;
    background-image: url(../images/seta.png);
    background-repeat: no-repeat; }
    .conteudo .seta:hover {
      background-image: url(../images/seta-hover.png); }
  .conteudo .icon-stack {
    color: #009e94;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 5em;
    line-height: 4em;
    vertical-align: middle; }
    .conteudo .icon-stack .icon-stack-1x,
    .conteudo .icon-stack .icon-stack-3x {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center; }
    .conteudo .icon-stack .icon-stack-1x {
      font-size: 3em; }
    .conteudo .icon-stack .icon-stack-3x {
      font-size: 3em; }

/*   PRODUTOS  */
.txt-intro p {
  color: #787878;
  font-family: "gotham_medium" !important;
  font-size: 16px; }

.icons {
  margin-bottom: 100px;
  margin-top: 50px; }
  .icons ul {
    list-style-type: none;
    float: left; }

.header2 {
  color: #009e94;
  font-size: 20px;
  font-family: "gotham_bold";
  margin-bottom: 50px; }

.decubal {
  margin-bottom: 50px;
  margin-top: 50px; }
  .decubal .imagem img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .decubal .imagem img:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.beacita {
  margin-bottom: 50px;
  margin-top: 50px; }
  .beacita .imagem img {
    width: 458px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .beacita .imagem img:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.ferlidona {
  margin-bottom: 50px;
  margin-top: 50px; }
  .ferlidona .imagem img {
    width: 458px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .ferlidona .imagem img:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

/*   FIM PRODUTOS  */
/*  NOTICIAS */
.conteudo-news .line {
  padding-top: 280px; }
.conteudo-news .seta {
  margin-top: 258px; }
.conteudo-news .imagens {
  padding-top: 140px; }
  .conteudo-news .imagens img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .conteudo-news .imagens img:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
.conteudo-news .textos {
  padding-top: 100px; }
  .conteudo-news .textos h2 {
    color: #009e94;
    font-family: "gotham_bold";
    font-size: 20px; }
  .conteudo-news .textos h3 {
    font-family: "gotham_medium";
    color: #009e94;
    font-size: 20px; }
  .conteudo-news .textos p {
    font-family: "gotham_light";
    color: #787878; }

.conteudo .btn {
  width: 70px;
  height: 70px;
  margin-top: 168px;
  background-image: url(../images/load.png);
  background-repeat: no-repeat; }
  .conteudo .btn:hover {
    background-image: url(../images/load_hover.png); }

/*  FIM NOTICIAS */
/*  NOTICIAS - DETALHE  */
.conteudo i {
  float: right;
  color: #787878; }
.conteudo h2 {
  color: #009e94;
  font-family: "gotham_bold";
  font-size: 20px; }
.conteudo h3 {
  font-family: "gotham_medium";
  color: #009e94;
  font-size: 20px; }
.conteudo p {
  font-family: "gotham_light";
  color: #787878; }

/*  FIM NOTICIAS - DETALHE  */
/* FOOTER */
.separador {
  font-size: 16px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  /*margin-left: 1rem;*/ }
  .separador p {
    color: #ffffff; }

footer {
  position: relative; }
  footer .vermapa {
    padding-top: 10px;
    text-align: right; }
  footer .organizer .icon {
    /*margin-right: 5px;*/ }
  footer .geral {
    /*margin-top: 40px;*/
    margin: 40px 0 0 0; }
  footer h2 {
    margin-left: 56px; }
  footer .linha-separador {
    border-bottom: 2px solid #ffffff;
    width: 80%;
    margin: 20px 0px 40px 0; }
  footer li a {
    color: #ffffff;
    text-decoration: none; }
    footer li a:hover {
      color: #242f75;
      text-decoration: none; }
  footer li p {
    font-family: "gotham_medium"; }

.rodape {
  background: #4a4a49;
  color: #ffffff;
  font-size: 12px;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 25px; }
  .rodape .copyDir {
    text-align: right; }

/*   FIM FOOTER   */
@media (min-width: 768px) {
  .navbar-header {
    display: none; }

  .navbar-collapse.collapse {
    display: block; } }
@media (max-width: 1200px) {
  .conteudo .separador {
    display: none; }

  .separador {
    display: none; } }

/*# sourceMappingURL=tb-custom.css.map */
