/*FONTS*/
/* COLORS */
body {
  font-family: "gotham_light";
  color: #242f75; }

.container {
  width: 100%;
  padding: 0; }

/*MENU*/
.menu {
  z-index: 8;
  height: 110px; }

.bg-faded {
  background-color: transparent; }

.navbar-brand {
  width: 196px; }

.navbar .navbar-nav {
  width: 100%;
  padding: 0 20%;
  text-align: center; }

.navbar-light .navbar-nav li {
  float: none;
  width: 150px;
  display: inline-block; }
  .navbar-light .navbar-nav li .nav-link {
    display: block;
    color: #242f75;
    text-align: center;
    width: 150px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "gotham_medium";
    font-size: 14px; }
    .navbar-light .navbar-nav li .nav-link:hover {
      text-decoration: none;
      border-bottom: 2px solid #009e94; }
    .navbar-light .navbar-nav li .nav-link:active {
      border-bottom: 2px solid #009e94; }

/*.mr-auto {
    margin-right: 80px!important;
}*/
.form-control {
  background-color: transparent; }
  .form-control:focus {
    background-color: transparent; }

form .form-control {
  width: 80%; }
form input[type=text] {
  width: 80% !important;
  font-family: "gotham_medium";
  font-size: 14px;
  color: #242f75;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #009e94; }
  form input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #009e94; }
form ::-webkit-input-placeholder {
  color: #242f75; }
form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #242f75; }
form :-ms-input-placeholder {
  /* IE 10+ */
  color: #242f75; }
form :-moz-placeholder {
  /* Firefox 18- */
  color: #242f75; }

.navbar-toggler {
  margin: 50px; }

/* FIM MENU*/
.slider {
  position: relative;
  z-index: -1;
  top: -110px; }
  .slider img {
    width: 100vw; }

.subtitle {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 8;
  /*top: 600px;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */ }

.subtitle p {
  font-size: 60px;
  font-family: "gotham_bold";
  color: #242f75;
  margin-top: 30px; }

.subtitle a {
  font-family: "gotham_medium";
  text-decoration: none;
  color: #242f75;
  font-size: 20px;
  border-bottom: 2px solid #009e94; }

.conteudo {
  /*   ANIMACAO LINHAS   */
  /*	.path {
  		stroke-dasharray: 100;
  		animation: dash 5s linear;
  	}
  
  	@keyframes dash {
  		to {
  	    	stroke-dashoffset: 1000;
  	  	}
  	}*/
  /*   ICON FONTAWESOME SETA    */
  /*    FIM ICON FONTAWESOME SETA    */ }
  .conteudo .separador {
    font-size: 16px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    margin-left: 1rem; }
    .conteudo .separador p {
      color: #242f75; }
  .conteudo .texto {
    padding-left: 40px;
    padding-top: 80px; }
    .conteudo .texto .title-destaque {
      font-family: "gotham_bold";
      font-size: 30px;
      padding: 0; }
    .conteudo .texto .txt-destaque {
      font-size: 30px; }
  .conteudo .line {
    padding-top: 190px; }
  .conteudo .seta {
    padding-top: 168px; }
  .conteudo .icon-stack {
    color: #009e94;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 5em;
    line-height: 4em;
    vertical-align: middle; }
    .conteudo .icon-stack .icon-stack-1x,
    .conteudo .icon-stack .icon-stack-3x {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center; }
    .conteudo .icon-stack .icon-stack-1x {
      font-size: 3em; }
    .conteudo .icon-stack .icon-stack-3x {
      font-size: 3em; }

@media (min-width: 768px) {
  .navbar-header {
    display: none; }

  .navbar-collapse.collapse {
    display: block; } }
@media (max-width: 768px) {
  .conteudo .separador {
    display: none; } }

/*# sourceMappingURL=tb-custom.css.map */
