/*FONTS*/
$font-book: 'gotham_book';
$font-bold: 'gotham_bold';
$font-medium:'gotham_medium';
$font-light: 'gotham_light';
$font-aws: 'FontAwesome';

/* COLORS */
$blue: #242f75;
$green: #009e94;
$grey: #787878;

body{
	font-family: $font-light;
	color: $blue;
	letter-spacing: 1.5px;
}

.container{
	width: 100%;
	padding: 0;
}

/*MENU*/

.menu{
	z-index: 8;
	height: 110px;
}
.bg-faded{
	background-color: transparent;
}

.navbar-brand{
	img{
	    margin-left: 20px;
    	width: 150px;
	}
}

.navbar .navbar-nav {
	width: 100%;
    text-align: center;
}

.navbar-light .navbar-nav{

	li{
		float: none;
		width: 150px;
		display: inline-block;

		.nav-link{
			display: block;
			color: $blue;
		    text-align: center;
	        width: 150px;
		    padding: 14px 16px;
		    text-decoration: none;
		    font-family: $font-medium;
			font-size: 14px;
			&:hover{
				text-decoration:none;
				border-bottom: 2px solid $green;
			}
		    &:active{
		    	border-bottom: 2px solid $green;
		    }
		}
	}
}

/*.mr-auto {
    margin-right: 80px!important;
}*/

.form-control{
	background-color: transparent;
	&:focus{
		background-color: transparent;
	}
}

form{
    width: 220px;
    margin-right: 100px;

	.form-control {
		width:80%;
	}
	input[type=text] {
	    width: 80% !important;
	    font-family: $font-medium;
	    font-size: 14px;
	    color: $blue;
  		box-shadow: none;
  		border: none;
  		border-bottom: 2px solid $green;

  		
  		&:focus {
		  outline: none;
		  border-bottom: 2px solid $green;
		}

	}
	::-webkit-input-placeholder {
		color: $blue;	
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $blue;	
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $blue;	
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $blue;	
	}
}

.navbar-toggler{
    margin: 50px;
}

/* FIM MENU*/

.slider{
	position: relative;
	z-index: -1;
	top: -110px;
	img{
		width: 100vw;
	}
}

.subtitle{
    position: absolute;
	bottom: 0;
	height: 300px;
	width: 100%;
    background-color: rgba(255,255,255, 0.2);
    z-index: 8;
    /*top: 600px;*/
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
	background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.subtitle p {
	font-size: 60px;
	font-family: $font-bold;
	color: $blue;
	margin-top: 30px;
}

.subtitle a{
	font-family: $font-medium;
	text-decoration: none;
	color: $blue;
	font-size: 20px;
	border-bottom: 2px solid $green;
}

.conteudo{
    padding-bottom: 100px;
	.separador{
		font-size: 16px;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
  		text-align: center;
	    margin-left: 1rem;
	    p{
	    	color: $blue;
	    }
	}

	.destaque{
		img{
    		max-width: 100%;
		    -moz-transition: all 0.3s;
		    -webkit-transition: all 0.3s;
		    transition: all 0.3s;   	
		    &:hover{
		    	-moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
	    	}
    	}
	}
	.texto{
	    padding-left: 40px;
	    padding-top: 80px;

		.title-destaque{
			font-family: $font-bold;
			font-size: 2vw;
			padding: 0;
			color: $blue;
		}
		.txt-destaque{
			font-size: 2vw;
			color: $blue;
		}
	}

	.line{
	    padding-top: 190px;
	}

	.seta{
		width: 67px;
		height:67px;
	    margin-top: 168px;
	    background-image: url(../images/seta.png);
	    background-repeat: no-repeat;
	    &:hover{
	    	background-image: url(../images/seta-hover.png);
	    }
	}
	/*   ANIMACAO LINHAS   */
/*	.path {
		stroke-dasharray: 100;
		animation: dash 5s linear;
	}

	@keyframes dash {
		to {
	    	stroke-dashoffset: 1000;
	  	}
	}*/

				/*   ICON FONTAWESOME SETA    */
	.icon-stack{
		color: $green;
		position: relative;
		display: inline-block;
		width: 3em;
		height: 5em;
		line-height: 4em;
		vertical-align: middle;

		.icon-stack-1x,
		.icon-stack-3x {
		  position: absolute;
		  left: 0;
		  width: 100%;
		  text-align: center;
		}
		.icon-stack-1x {
		  font-size: 3em;
		}
		.icon-stack-3x {
		  font-size: 3em;
		}
	}	/*    FIM ICON FONTAWESOME SETA    */
}


/*   PRODUTOS  */

.txt-intro{
	p{
		color: $grey;
		font-family: $font-medium!important;
		font-size: 16px;
	}
}

.icons{
	margin-bottom: 100px;
    margin-top: 50px;
    ul{
	    list-style-type: none;
        float: left;
    }
}

.header2{
	color: $green;
	font-size: 20px;
	font-family: $font-bold;
    margin-bottom: 50px;
}

.decubal{
    margin-bottom: 50px;
    margin-top: 50px;
    .imagem{
    	img{
    		max-width: 100%;
		    -moz-transition: all 0.3s;
		    -webkit-transition: all 0.3s;
		    transition: all 0.3s;   	
		    &:hover{
		    	-moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
	    	}
    	}
    }
}

.beacita{
	margin-bottom: 50px;
    margin-top: 50px;
	.imagem{
		img{
		    width: 458px;
	        max-width: 100%;
		    -moz-transition: all 0.3s;
		    -webkit-transition: all 0.3s;
		    transition: all 0.3s;
		    &:hover{
		    	-moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
		    }
		}
	}
}

.ferlidona{
	margin-bottom: 50px;
    margin-top: 50px;
	.imagem{
		img{
		    width: 458px;
		    max-width: 100%;
		    -moz-transition: all 0.3s;
		    -webkit-transition: all 0.3s;
		    transition: all 0.3s;   	
		    &:hover{
		    	-moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);	
		    }
		}
	}
}

/*   FIM PRODUTOS  */

/*  NOTICIAS */
.conteudo-news{
	.line{
	    padding-top: 280px;
	}
	.seta{
		margin-top: 258px;
	}

	.imagens{
		padding-top: 140px;
		img{
			max-width: 100%;
		    -moz-transition: all 0.3s;
		    -webkit-transition: all 0.3s;
		    transition: all 0.3s;
		    &:hover{
		    	-moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
		    }
		}
	}

	.textos{
		padding-top: 100px;
		h2{
			color: $green;
			font-family: $font-bold;
			font-size: 20px;
		}
		h3{
			font-family: $font-medium;
			color: $green;
			font-size: 20px;
		}
		p{
			font-family: $font-light;
			color: $grey;
		}
	}
}

.conteudo{

	.btn{
		width: 70px;
		height:70px;
	    margin-top: 168px;
	    background-image: url(../images/load.png);
	    background-repeat: no-repeat;
	    &:hover{
	    	background-image: url(../images/load_hover.png);
	    }
	}
}
/*  FIM NOTICIAS */

/*  NOTICIAS - DETALHE  */
.conteudo{
	i{
		float: right;
		color: $grey;
	}
	h2{
			color: $green;
			font-family: $font-bold;
			font-size: 20px;
	}
	h3{
		font-family: $font-medium;
		color: $green;
		font-size: 20px;
	}
	p{
		font-family: $font-light;
		color: $grey;
	}
}
/*  FIM NOTICIAS - DETALHE  */

/* FOOTER */

.separador{
	font-size: 16px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: center;
    margin-left: 1rem;
    p{
    	color: #ffffff;
    }
}

footer{
.vermapa{
	padding-top: 1rem;
    padding-left: 4rem;
}
	position: relative;
	.geral{
		position: absolute;
    	width: 100%;
    	margin-top: 40px;
	}

	h2{
		margin-left: 56px;
	}

	.linha-separador{
		border-bottom: 2px solid #ffffff;
	    width: 80%;
	    margin: 20px 0px 40px 0;
	}

	li{
		p{
			font-family: $font-medium;
		}
	}
} 

/*   FIM FOOTER   */

@media (min-width: 768px){
	.navbar-header{
	    display: none;
	}

	.navbar-collapse.collapse {
		display:block;
	}

}

@media (max-width: 768px){
.conteudo{
	.separador{
		display: none;
	}
}
}